* {
	font-family: 'Comfortaa', cursive;
	font-size: 16px;
	font-weight: 400;
}
a { 
	text-decoration: none;
}

ul, ol {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	list-style: none;
}

.preloader {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99999;
	
}

.preloader img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}


@keyframes flash {
  from,
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  to {
    opacity: 1;
  }

	5%,
	15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    opacity: 0;
  }


}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  animation-duration: 20s;
  animation-delay: 1s;
  animation-iteration-count: flash;
}

body {
	display: grid;
	grid-template-rows: 80px 900px;
}