.header {
	height: 80px;
	width: 100%;
	display: grid;
	grid-template-columns: 220px minmax(800px,1000px) 100px 220px;
	grid-template-areas: "logo menu search login";
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 5px rgba(0,0,0, .5);
	position: fixed;
	z-index: 100;
}


.header__logo {
	grid-area: logo;
	padding: 8px 8px 8px 8px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-around;
}
.header__logo .header_img {
	width: 40px;
	border-radius: 50%;
}

.header__menu {
	grid-area: menu;
	
}

.header__menu_ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-evenly;
}

.header__search {
	grid-area: search;
	text-align: center;
}

.header__login {
	grid-area: login;
	margin: 0 8px 0 0;
}

.header__login .header__login_a {
	border: 2px solid;
	border-radius: 8px;
	padding: 16px 16px 16px 16px;
}