.main {
	margin: 120px 0 40px 0;
	display: grid;
	grid-template-columns:1fr 900px 250px 1fr;
	grid-template-areas: ". content right_block .";
	justify-content: center;
}

.main__content {
	grid-area: content;
		margin: 0 32px 0 0;
}

.content__filter {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

.filter__tneme_button {
	padding: 8px 8px 8px 8px;
	border-radius: 8px;
	border: 2px solid;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

.img_down {
	display: inline-block;
	height: 24px;
}

.filter__tneme_button .img_down  {
	
	margin: 0 0 0 48px;
}


.filter__sorting_button span{
	border-bottom: 2px solid;
	margin: 0 0 0 8px;
}

.filter__sorting_button {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-ms-align-items: center;
	align-items: center;
}

.article__item {
	margin: 32px 0 0 0;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}

.author__foto img{
	display: block;
	border-radius: 50%
}

.article__author {
	padding: 0 16px 16px 16px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-ms-align-items: center;
	align-items: center;
	justify-content: flex-end;
}

.article__name {
	
	padding: 24px 24px 24px 24px;
}

.article__name h2 {
	margin: 0 0 0 0;
	font-size: 24px;
}

.author__name {
	margin: 0 16px 0 0;
}

.article__foto {
	text-align: center;
	padding: 32px 0 32px 0;
	
	overflow: hidden;
}

.article__foto  img {
	border-radius: 5px;
}

.article__text {
	padding: 0 24px 24px 24px; 
}

.article__data {
	max-width: 60%;
	padding: 0 24px 24px 24px; 
}

.article__button {
	position: absolute;
	padding: 16px 16px 16px 16px;
	border-radius: 5px;
	border: 2px solid;
	bottom: 16px;
	right: 24px;
}

.data__tags, .data__tags span {
	font-size: 12px;
}

.main__right_block {
	grid-area: right_block;
}